<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help page</title>
    </head>
    <body>
        <h1>IN PROGRESS PAGE</h1>
        <p>sample text</p>
    </body>
</html>